/*
.carousel .slide{
	background-color: #000;
	background-image:none !important;
}

.carousel-inner .active{
	background-color: #000;
	background-image:none !important;
}

.carousel .item .active{
	background-color: #000;
	background-image:none !important;
}

.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
*/

.carousel-text1 {
	color:white;
	text-shadow: 1px 1px 5px black;
}

.carousel-text2 {
	color:white;
	text-shadow: 1px 1px 5px black;
}

.carousel-text3 {
	color:white;
	text-shadow: 1px 1px 5px black;
}

img {
	height: auto;
	max-width: 100$;
}
img.expanded {
	max-width: none;
}

img {
	height: auto;
	max-width: 640px;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}
img.expanded {
	max-width: 2000px;
}